body{
    background-color: darkslategray;
    text-align:center;
    color:brown;
    font-family: sans-serif;
}
h1,h2,h3{
    font-family: 'Pacifico', cursive;
    text-align: center;
}
a{
    color:cornsilk;
    text-decoration: none;
}
a:hover{
    color:crimson;
    text-decoration: line;
}
main{
    text-align:left;
    margin-left:20%;
    margin-right:20%;
}
figure{
    text-align:center;
    font-style:italic;
}
