<a href="https://webpages.charlotte.edu/glakhman/">CLT Web</a>|
<a href="https://github.com/glakhmani123">GitHub</a>|
<a href="https://webpages.charlotte.edu/glakhman/">GitHub.io</a>|
<a href="https://www.freecodecamp.org/GeetikaLakhmani">FreeCodeCamp</a>|
<a href="https://www.codecademy.com/profiles/GeetikaLakhmani">Codecademy</a>|

<a href="https://www.linkedin.com/in/geetikal/">LinkedIn</a>|
<a href="LakhmaniEnterprises.com/index.html">Page designed by Lakhmani Enterprises</a>|
<a href="https://www.freecodecamp.org/certification/GeetikaLakhmani/responsive-web-design"><i>Certified in Responsive Web Design</i></a>|
<a href="https://www.freecodecamp.org/certification/GeetikaLakhmani/javascript-algorithms-and-data-structures-v8"><i>Certified in Javascript Algorithms and Data Structures</i></a>|




