<h1>
    Geetika Lakhmani's Generous Lion *ITIS 3135* 
</h1>
<nav>
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="GenerousLionDesigns/index.html">Whimsical Page</a>
    ||
    <a href="stuff/WEB&PAGES.html">CRAPPY Webpages</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="website_evaluations.html">Website Evaluations</a>
    ||
    <a href="byo_intro.html">BYO Form</a>
    ||
    <a href="forms.html">Activity HTML Form</a>
    ||
    <a href="slideshow.html">Slideshow</a>
    ||
    <a href="hobby/index.html">Hobby</a>
    ||
    <a href="overview.html">Project Overview</a>
    ||
    <a href="project\index.html">Client Project</a>
    
</nav>